<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow">
                        <div class="card-body">
                            <h3 class="card-title text-center mb-4">Create Account</h3>
                            <form th:action="@{/register}" th:object="${user}" method="post">
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control" th:field="*{email}">
                                    <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger mt-2">
                                        <span th:errors="*{email}"></span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <input type="password" class="form-control" th:field="*{password}">
                                    <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger mt-2">
                                        <span th:errors="*{password}"></span>
                                    </div>
                                </div>
								<div class="mb-3">
							        <label class="form-label">Role</label>
							        <select class="form-control" th:field="*{role}">
							            <option value="USER">User</option>
							            <option value="STORE_ADMIN">Store Admin</option>
							        </select>
							        <div th:if="${#fields.hasErrors('role')}" class="alert alert-danger mt-2">
							            <span th:errors="*{role}"></span>
							        </div>
							    </div>
                                <button type="submit" class="btn btn-primary w-100">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>